name: javadoc

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Javadoc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Build javadoc
        run: mvn compile javadoc:javadoc
